:root{
  scroll-behavior: smooth;
}

.first{
  background-image: url('./img/Vanishing-Stripes.svg');
}
.second{
  background-image: url('./img/Bullseye-Gradient.svg');
}
.third{
  background-image: url('./img/Large-Triangles.svg');
}
nav{
  background: #000;
}
body {
  /* color: #999; */
  overflow-x: hidden;
  /* img size is 50x50 */
  background-color: #fff;
  background-image: linear-gradient(45deg, rgba(238, 238, 238, 0.285) 25%, transparent 25%, transparent 75%, rgba(238, 238, 238, 0.299) 75%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
/* START HERE */



nav .container{
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 4px;
}

nav ul{
  display: flex;
  height: 100%;
}

nav li{
  font-size: 18px;
}

.welcome h2, .songs h2{
  font-weight: 350;
}

.welcome p{
  font-size: 1.3em;
  text-align: center;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card img {
    width: 100%;
    height: auto;
}

.img-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.table {
    margin-bottom: 0px;
}
.card .table {
    padding: 15px 30px;
    min-height: 153px;
}
.card-blog {
    margin-top: 30px;
}
.card-blog .card-caption {
    margin-top: 5px;
}
.card-blog .card-image + .category {
    margin-top: 20px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

